:org.apache.felix.configadmin.revision:=L"1"
hc.mbean.name="AEM\ content\ packages"
hc.name="Check\ for\ default\ AEM\ content\ packages"
hc.tags=[ \
  "packages", \
  "content", \
  "startup", \
  ]
package.names=[ \
  "com.adobe.granite.ui.coralui3", \
  "com.adobe.granite.activitystreams.content", \
  "com.adobe.granite.asset.content", \
  "com.adobe.granite.backup.content", \
  "com.adobe.granite.cluster.content", \
  "com.adobe.granite.datavisualization.content", \
  "com.adobe.granite.monitoring.content", \
  "com.adobe.granite.platform.clientlibs", \
  "com.adobe.granite.platform.content", \
  "com.adobe.granite.platform.i18n", \
  "com.adobe.granite.platform.login", \
  "com.adobe.granite.platform.users", \
  "com.adobe.granite.platform.welcome", \
  "com.adobe.granite.replication.content", \
  "com.adobe.granite.security.content", \
  "com.adobe.granite.taskmanagement.content", \
  "com.adobe.granite.topology.content", \
  "com.adobe.granite.ui.content", \
  "com.adobe.granite.ui.legacy", \
  "com.adobe.granite.workflow.content", \
  "cq-cloudservices-content", \
  "cq-commerce-content", \
  "cq-compat-content", \
  "cq-content", \
  "cq-dam-content", \
  "cq-dashboards-content", \
  "cq-foundation-content", \
  "cq-i18n-content", \
  "cq-launches-content", \
  "cq-mcm-content", \
  "cq-platform-content", \
  "cq-projects-content", \
  "com.adobe.coralui.rte-cq5", \
  "cq-ui-classic-content", \
  "cq-ui-touch-optimized-content", \
  "cq-wcm-content", \
  ]
service.factoryPid="com.adobe.cq.hc.ContentPackagesHealthCheck"
service.pid="com.adobe.cq.hc.ContentPackagesHealthCheck~1"
