:org.apache.felix.configadmin.revision:=L"1"
disable.request.configuration=B"true"
format="json"
httpStatusMapping="WARN:200,TEMPORARILY_UNAVAILABLE:503,CRITICAL:500"
osgi.http.whiteboard.context.select="(osgi.http.whiteboard.context.name\=org.osgi.service.http)"
service.factoryPid="org.apache.felix.hc.core.impl.servlet.HealthCheckExecutorServlet"
service.pid="org.apache.felix.hc.core.impl.servlet.HealthCheckExecutorServlet~systemready-new"
servletPath="/systemready"
tags=[ \
  "systemready", \
  ]
