:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.graphql.core.GraphQLServlet"
service.pid="org.apache.sling.graphql.core.GraphQLServlet~headless-ibiza-plane-a"
sling.servlet.extensions=[ \
  "json", \
  ]
sling.servlet.methods=[ \
  "GET", \
  "POST", \
  ]
sling.servlet.resourceTypes=[ \
  "sling/servlet/default", \
  ]
sling.servlet.selectors=[ \
  "A", \
  ]
