:org.apache.felix.configadmin.revision:=L"1"
cq.wcm.msm.action.excludednodetypes=[ \
  "cq:LiveSyncConfig", \
  "cq:BlueprintSyncConfig", \
  "cq:LiveSyncAction", \
  "cq:CatalogSyncConfig", \
  "cq:CatalogSyncAction", \
  "cq:meta", \
  ]
cq.wcm.msm.action.excludedparagraphitems=[ \
  "cq:propertyInheritanceCancelled", \
  "dc:title", \
  "cq:targetMetadata", \
  "cq:targetMetadataJson", \
  ]
cq.wcm.msm.action.excludedprops=[ \
  "jcr:.*", \
  "sling:(?!(resourceType|resourceSuperType)$).*", \
  "cq:(?!(designPath|template|lastTranslationUpdate|targetEngine|robotsTags)$).*", \
  "publishCampaignId", \
  ]
service.pid="com.day.cq.wcm.msm.impl.actions.ContentUpdateActionFactory"
