:org.apache.felix.configadmin.revision:=L"1"
cq.wcm.msm.action.excludednodetypes=[ \
  "cq:LiveSyncConfig", \
  "cq:BlueprintSyncConfig", \
  "cq:CatalogSyncConfig", \
  "cq:meta", \
  ]
cq.wcm.msm.action.excludedparagraphitems=[ \
  "cq:annotations", \
  "cq:targetMetadata", \
  "cq:targetMetadataJson", \
  ]
cq.wcm.msm.action.excludedprops=[ \
  "[^.]", \
  "cq:authorExternalId", \
  "publishCampaignId", \
  "cq:publishExternalId", \
  "cq:xfMasterVariation", \
  "postId", \
  "cq:xfSocialActionDate", \
  "cq:xfSocialActionStatus", \
  "cq:targetOfferId", \
  ]
service.pid="com.day.cq.wcm.msm.impl.actions.ContentCopyActionFactory"
