:org.apache.felix.configadmin.revision:=L"1"
cq.wcm.msm.action.excludednodetypes=[ \
  "cq:LiveSyncConfig", \
  "cq:BlueprintSyncConfig", \
  "cq:LiveSyncAction", \
  "cq:meta", \
  ]
cq.wcm.msm.action.excludedparagraphitems=[ \
  "cq:propertyInheritanceCancelled", \
  ]
cq.wcm.msm.action.excludedprops=[ \
  "jcr:.*", \
  "sling:.*", \
  "cq:.*", \
  ]
service.pid="com.day.cq.wcm.msm.impl.actions.ReferencesUpdateXFActionFactory"
