:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~com.adobe.dam.cq-dam-cfm-impl"
user.mapping=[ \
  "com.adobe.dam.cq-dam-cfm-impl:replicationService\=[replication-service]", \
  "com.adobe.dam.cq-dam-cfm-impl:referenceProcessingService\=[reference-processing-service,content-reader-service,dam-writer-service]", \
  "com.adobe.dam.cq-dam-cfm-impl:omnisearch-service\=[omnisearch-service]", \
  ]
