:org.apache.felix.configadmin.revision:=L"1"
jcrPath="/system/sling/monitoring/mbeans"
path="^/system/sling/monitoring/mbeans(/(.)*)?"
service.factoryPid="org.apache.sling.jcr.resourcesecurity.impl.ResourceAccessGateFactory"
service.pid="org.apache.sling.jcr.resourcesecurity.impl.ResourceAccessGateFactory~jmx"
