:org.apache.felix.configadmin.revision:=L"1"
encryptedPassword=""
name="default"
service.factoryPid="com.adobe.granite.distribution.core.impl.CryptoDistributionTransportSecretProvider"
service.pid="com.adobe.granite.distribution.core.impl.CryptoDistributionTransportSecretProvider~default.json"
username=""
