:org.apache.felix.configadmin.revision:=L"1"
event.topics=[ \
  "com/day/cq/wcm/core/page", \
  "com/day/cq/replication", \
  "com/adobe/cq/social/forum", \
  "com/day/cq/collab/forum", \
  "com/adobe/cq/social/forum/digest", \
  "com/adobe/cq/social/forumlevel/digest", \
  ]
service.pid="com.day.cq.wcm.notification.impl.NotificationManagerImpl"
