:org.apache.felix.configadmin.revision:=L"1"
auth.loginselector.defaultloginpage="/libs/granite/core/content/login"
auth.loginselector.mappings=[ \
  "/libs/dam/remoteassets/content/loginerror:/libs/dam/remoteassets/content/query", \
  "/libs/granite/core/content/login:/libs", \
  ]
path="/"
service.pid="com.day.cq.auth.impl.LoginSelectorHandler"
service.ranking=I"5000"
