:org.apache.felix.configadmin.revision:=L"1"
service.pid="org.apache.sling.sitemap.impl.SitemapServlet"
sling.servlet.extensions=[ \
  "xml", \
  ]
sling.servlet.resourceTypes=[ \
  "wcm/foundation/components/basicpage/v1/basicpage", \
  ]
sling.servlet.selectors=[ \
  "sitemap", \
  "sitemap-index", \
  ]
