:org.apache.felix.configadmin.revision:=L"1"
intervalInSec="5"
registerHealthyMarkerService=B"true"
registerUnhealthyMarkerService=B"true"
service.factoryPid="org.apache.felix.hc.core.impl.monitor.HealthCheckMonitor"
service.pid="org.apache.felix.hc.core.impl.monitor.HealthCheckMonitor~systemready"
tags=[ \
  "systemalive", \
  "systemready", \
  ]
