:org.apache.felix.configadmin.revision:=L"1"
cfMigrationBatch="$[env:CF_MIGRATION_BATCH;default\=50]"
cfMigrationEnabled="$[env:CF_MIGRATION_ENABLED;default\=0]"
cfMigrationEnforce="$[env:CF_MIGRATION_ENFORCE;default\=0]"
cfMigrationInterval="$[env:CF_MIGRATION_INTERVAL;default\=600]"
cfMigrationLimit="$[env:CF_MIGRATION_LIMIT;default\=1000]"
service.pid="com.adobe.cq.dam.cfm.impl.upgrade.UpgradeJobTrigger"
