:org.apache.felix.configadmin.revision:=L"1"
handler.schemes=[ \
  "jcrinstall", \
  "launchpad", \
  ]
service.pid="org.apache.sling.installer.provider.jcr.impl.JcrInstaller"
sling.jcrinstall.folder.name.regexp=".*/(install|config)$"
sling.jcrinstall.new.config.path="system/config"
sling.jcrinstall.search.path=[ \
  "/libs:100", \
  "/apps:200", \
  ]
