:org.apache.felix.configadmin.revision:=L"1"
operation.whitelist.prefixes=[ \
  "social:", \
  ]
parameter.whitelist=[ \
  "rep:userId", \
  "rep:password", \
  "rep:password_confirm", \
  "../cq:authorizableCategory", \
  ]
parameter.whitelist.prefixes=[ \
  "dc:", \
  "xmpRights:", \
  ]
service.pid="com.day.cq.wcm.foundation.security.impl.SaferSlingPostValidatorImpl"
