:org.apache.felix.configadmin.revision:=L"1"
org.apache.sling.scripting.sightly.js.bindings=[ \
  "granite:/libs/sling/sightly/js/internal/sly.js", \
  "wcm:/libs/sightly/js/internal/aem.js", \
  "sightly:/libs/sling/sightly/js/internal/sly.js", \
  ]
service.pid="org.apache.sling.scripting.sightly.js.impl.jsapi.SlyBindingsValuesProvider"
