:org.apache.felix.configadmin.revision:=L"1"
selectors.to.partials.mapping=[ \
  "A:ibiza.content,cfm.schema,cf.schema", \
  ]
service.factoryPid="org.apache.sling.graphql.schema.aggregator.SchemaAggregatorServlet"
service.pid="org.apache.sling.graphql.schema.aggregator.SchemaAggregatorServlet~headless-ibiza-plane-a"
sling.servlet.extensions=[ \
  "GQLschema", \
  ]
sling.servlet.methods=[ \
  "GET", \
  ]
sling.servlet.resourceTypes=[ \
  "sling/servlet/default", \
  ]
sling.servlet.selectors=[ \
  "A", \
  ]
