:org.apache.felix.configadmin.revision:=L"1"
allow.hosts.regexp=[ \
  "https://.*\\.adobe\\.com:443", \
  "https://.*\\.adobe\\.net:443", \
  "https://.*\\.workfront\\.com:443", \
  "https://.*\\.workfront-dev\\.com:443", \
  "https://.*\\.dev\\.workfront\\.tech:443", \
  ]
service.pid="org.apache.sling.security.impl.ReferrerFilter"
