:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://api.instagram.com/oembed"
format="json"
provider="Instagram"
scheme=[ \
  "https?://(www\\.)?instagram\\.com/p/.*", \
  "https?://(www\\.)?instagr\\.am/p/.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~instagram"
unsafeContext="true"
