:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://www.facebook.com/plugins/video/oembed.json"
format="json"
provider="Facebook\ Video"
scheme=[ \
  "https?://www\\.facebook\\.com/.*/videos/.*", \
  "https?://www\\.facebook\\.com/video\\.php.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~facebookVideo"
unsafeContext="true"
