:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://www.youtube.com/oembed"
format="json"
provider="YouTube"
scheme=[ \
  "https://.*.youtube.com/watch.*", \
  "https://.*.youtube.com/v/.*", \
  "https://youtu.be/.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~youtube"
unsafeContext="true"
