:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://www.flickr.com/services/oembed/"
format="xml"
provider="Flickr"
scheme=[ \
  "https?://.*.flickr\\.com/photos/.*", \
  "https?://flic\\.kr/p/.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~flickr"
unsafeContext="true"
