:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://www.facebook.com/plugins/post/oembed.json"
format="json"
provider="Facebook\ Post"
scheme=[ \
  "https?://www\\.facebook\\.com/.*/posts/.*", \
  "https?://www\\.facebook\\.com/photos/.*", \
  "https?://www\\.facebook\\.com/.*/photos/.*", \
  "https?://www\\.facebook\\.com/photo\\.php.*", \
  "https?://www\\.facebook\\.com/photo\\.php", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~facebookPost"
unsafeContext="true"
