:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://publish.twitter.com/oembed"
format="json"
provider="Twitter"
scheme=[ \
  "https?://(.*.)?twitter.com/.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~twitter"
unsafeContext="true"
