:org.apache.felix.configadmin.revision:=L"1"
endpoint="https://soundcloud.com/oembed"
format="json"
provider="SoundCloud"
scheme=[ \
  "https?://soundcloud\\.com/.*", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.services.embed.OEmbedClientImplConfigurationFactory~soundcloud"
unsafeContext="true"
