:org.apache.felix.configadmin.revision:=L"1"
optout.cookies=[ \
  "cq-opt-out", \
  "omniture_optout", \
  ]
optout.whitelist.cookies=[ \
  "cq-show-clientcontext", \
  "cq-scrollpos", \
  "cq-sk-collapsed", \
  "login-token", \
  "ys-cq-siteadmin-tree", \
  "ys-cq-damadmin-tree", \
  "ys-cq-collabadmin-tree", \
  "ys-cq-miscadmin-tree", \
  "ys-cq-tagadmin", \
  "ys-cq-cf-clipboard", \
  "ys-cq-cf-tabpanel", \
  "SessionPersistence", \
  "wcmmode", \
  "CommercePersistence", \
  "cq-authoring-mode", \
  ]
service.pid="com.adobe.granite.optout.impl.OptOutServiceImpl"
