:org.apache.felix.configadmin.revision:=L"1"
configCollectionInheritancePropertyNames=[ \
  "jcr:content/sling:configCollectionInherit", \
  "jcr:content/mergeList", \
  "mergeList", \
  ]
fallbackPaths=[ \
  "/conf/global", \
  "/apps", \
  "/libs", \
  ]
service.pid="org.apache.sling.caconfig.resource.impl.def.DefaultConfigurationResourceResolvingStrategy"
