:org.apache.felix.configadmin.revision:=L"1"
filter.tags=[ \
  "security", \
  ]
hc.mbean.name="securitychecks"
hc.name="Security\ Checks"
hc.tags=[ \
  "", \
  ]
service.factoryPid="org.apache.felix.hc.core.impl.CompositeHealthCheck"
service.pid="org.apache.felix.hc.core.impl.CompositeHealthCheck~security"
