:org.apache.felix.configadmin.revision:=L"1"
filter.tags=[ \
  "system", \
  ]
hc.mbean.name="systemchecks"
hc.name="System\ Maintenance"
hc.tags=[ \
  "", \
  ]
service.factoryPid="org.apache.felix.hc.core.impl.CompositeHealthCheck"
service.pid="org.apache.felix.hc.core.impl.CompositeHealthCheck~system"
