:org.apache.felix.configadmin.revision:=L"1"
dam.cfm.component.elementsProp="elementName"
dam.cfm.component.fileReferenceProp="fragmentPath"
dam.cfm.component.resourceType="core/wcm/components/contentfragment/v1/contentfragment"
dam.cfm.component.variationProp="variationName"
service.factoryPid="com.adobe.cq.dam.cfm.impl.component.ComponentConfigImpl"
service.pid="com.adobe.cq.dam.cfm.impl.component.ComponentConfigImpl~core-comp-v1"
