:org.apache.felix.configadmin.revision:=L"1"
dam.cfm.component.elementsProp="element"
dam.cfm.component.fileReferenceProp="fileReference"
dam.cfm.component.resourceType="dam/cfm/components/contentfragment"
dam.cfm.component.variationProp="variation"
service.factoryPid="com.adobe.cq.dam.cfm.impl.component.ComponentConfigImpl"
service.pid="com.adobe.cq.dam.cfm.impl.component.ComponentConfigImpl~cfm"
