:org.apache.felix.configadmin.revision:=L"1"
org.apache.felix.http.mbeans=B"true"
org.apache.felix.http.session.timeout=I"10"
org.apache.felix.https.jetty.protocols.excluded=[ \
  "SSLv3", \
  ]
org.apache.felix.jetty.statisticshandler.enable=B"true"
org.apache.felix.proxy.load.balancer.connection.enable=B"true"
org.eclipse.jetty.UriComplianceMode="LEGACY"
service.pid="org.apache.felix.http"
