:org.apache.felix.configadmin.revision:=L"1"
auth.token.validator.leeway.fractional=L"12"
auth.token.validator.type="imsconsole-nui-process-service"
service.factoryPid="com.adobe.granite.auth.ims.impl.IMSTokenValidatorImpl"
service.pid="com.adobe.granite.auth.ims.impl.IMSTokenValidatorImpl~imsconsole-nui-process-service"
