:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.name="Async\ Create\ Launch\ for\ Content\ Fragments"
queue.priority="NORM"
queue.retries="0"
queue.retrydelay="60000"
queue.topics=[ \
  "async/createLaunch", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~async-create-launch-for-cfs"
