:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="false"
queue.maxparallel="0.5"
queue.name="Translation\ Rest\ API\ Async\ Execution\ Medium\ Priority"
queue.preferRunOnCreationInstance="true"
queue.priority="NORM"
queue.retries="0"
queue.retrydelay="60000"
queue.topics=[ \
  "com/adobe/cq/wcm/translation/rest/impl/api/async/priorityMedium", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~translationapiasyncnorm"
