:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel="0.5"
queue.name="Granite\ Transient\ Workflow\ Queue"
queue.preferRunOnCreationInstance=B"true"
queue.priority="MIN"
queue.queryableJobs=B"false"
queue.topics="com/adobe/granite/workflow/transient/job*"
queue.type="TOPIC_ROUND_ROBIN"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~workflow-transient"
