:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel="0.5"
queue.name="DM\ batch\ queue"
queue.preferRunOnCreationInstance="true"
queue.priority="NORM"
queue.retries="1"
queue.retrydelay="60000"
queue.threadPoolSize="2"
queue.topics="dmJobsTopic/processBatch"
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~dm-batch"
service.ranking="1"
