:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="2"
queue.name="Content\ Fragment\ Queue"
queue.priority="MIN"
queue.retries="10"
queue.topics=[ \
  "dam/cfm/importcleanup", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~cfm"
