:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="0.5"
queue.name="Async\ Assets\ Job\ Queue"
queue.priority="NORM"
queue.retries="10"
queue.retrydelay="10000"
queue.topics=[ \
  "async/move/assets", \
  "async/copy/assets", \
  "async/delete/assets", \
  ]
queue.type="TOPIC_ROUND_ROBIN"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~asyncassetsjobs"
