:org.apache.felix.configadmin.revision:=L"1"
queue.name="org/apache/sling/distribution/queue/{0}"
queue.retries="-1"
queue.topics="org/apache/sling/distribution/queue/*"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~distribution"
