:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel="1"
queue.name="IDS\ Processing\ Queue"
queue.priority="MIN"
queue.retries="5"
queue.retrydelay="60000"
queue.topics="dam/proxy/ids/job/*"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~ids"
