:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel="1"
queue.name="Smart\ Crop\ Sync\ Queue"
queue.preferRunOnCreationInstance="true"
queue.priority="NORM"
queue.retries="2"
queue.retrydelay="60000"
queue.topics="com/adobe/cq/dam/scene7/smartcrop/sync"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~smartcrop-sync"
