:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="3"
queue.name="Batch\ requests\ job\ queue"
queue.priority="NORM"
queue.retries="2"
queue.topics="com/adobe/aem/headless/jobs/batch"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~batch-requests"
