:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="1"
queue.name="DM\ Initial\ Setup\ Async\ Operation\ Queue\ Config"
queue.priority="NORM"
queue.retries="1"
queue.retrydelay="60000"
queue.topics=[ \
  "async/dminitialsetup", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~dminitialsetup"
