:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="1"
queue.name="Bulk\ Import\ Default\ Queue\ Config"
queue.priority="NORM"
queue.retries="3"
queue.retrydelay="2000"
queue.topics=[ \
  "async/bulkimport", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~bulkimport"
