:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs=B"true"
queue.maxparallel=L"1"
queue.name="Maintenance\ Queue"
queue.retries=L"0"
queue.topics="com/adobe/granite/maintenance/job/*"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~maintenance"
