:org.apache.felix.configadmin.revision:=L"1"
queue.name="com/day/cq/replication/job/{0}"
queue.retries=L"-1"
queue.topics="com/day/cq/replication/job/*"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~replication"
