:org.apache.felix.configadmin.revision:=L"1"
queue.name="Asset\ Move\ Event\ Queue"
queue.priority="NORM"
queue.retries="0"
queue.topics="com/adobe/cq/dam/assetmove"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~asset-move"
