:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="2"
queue.name="Reference\ Update\ Processing\ Queue"
queue.priority="MIN"
queue.retries="10"
queue.topics=[ \
  "ref-updater/references", \
  "ref-updater/update", \
  "ref-updater/delete", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~cq-ref-update-processor"
