:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel=I"10"
queue.name="DM\ Publish\ queue"
queue.priority="NORM"
queue.retries="2"
queue.retrydelay="60000"
queue.topics=[ \
  "dam/scene7/asset/activation", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~dm-publish"
