:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.name="Integration\ with\ DX\ Solutions"
queue.priority="NORM"
queue.retries="15"
queue.retrydelay="60000"
queue.topics=[ \
  "com/adobe/aem/dx/setup/automation/jobs/async/integration", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~dx-setup-automation"
