:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs=B"false"
queue.maxparallel=I"1"
queue.name="Scene7\ Synchronization"
queue.preferRunOnCreationInstance=B"false"
queue.priority="NORM"
queue.retries=I"10"
queue.retrydelay=L"2000"
queue.threadPoolSize=I"0"
queue.topics=[ \
  "com/adobe/cq/dam/dmassetreplicateonmodify", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~scene7-sync"
service.ranking=I"0"
