:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel=D"4602678819172646912"
queue.name="Background\ Sitemap\ Generation"
queue.priority="MIN"
queue.topics=[ \
  "org/apache/sling/sitemap/build", \
  ]
queue.type="UNORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~slingsitemap"
