:org.apache.felix.configadmin.revision:=L"1"
queue.keepJobs="true"
queue.maxparallel="1"
queue.name="Content\ Fragment\ Upgrade\ Job\ Queue\ Config"
queue.priority="NORM"
queue.retries="3"
queue.retrydelay="60000"
queue.topics=[ \
  "cfm/upgrader", \
  ]
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~cfm-content-upgrade"
