:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel=L"-1"
queue.name="Granite\ Workflow\ External\ Process\ Polling\ Queue"
queue.preferRunOnCreationInstance=B"true"
queue.priority="MIN"
queue.queryableJobs=B"false"
queue.topics="com/adobe/granite/workflow/external/polling/event"
queue.type="TOPIC_ROUND_ROBIN"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~workflow-external-process-polling"
