:org.apache.felix.configadmin.revision:=L"1"
queue.maxparallel="1"
queue.name="Collection\ update\ on\ asset\ move\ and\ delete"
queue.priority="MIN"
queue.retries="1"
queue.retrydelay="60000"
queue.topics="com/adobe/cq/collection/update/job"
queue.type="ORDERED"
service.factoryPid="org.apache.sling.event.jobs.QueueConfiguration"
service.pid="org.apache.sling.event.jobs.QueueConfiguration~colllectionupdate"
