:org.apache.felix.configadmin.revision:=L"1"
jcrPrivilege="crx:replicate"
name="privilegeReplicate"
service.factoryPid="org.apache.sling.distribution.agent.impl.PrivilegeDistributionRequestAuthorizationStrategyFactory"
service.pid="org.apache.sling.distribution.agent.impl.PrivilegeDistributionRequestAuthorizationStrategyFactory~privilegeReplicate"
