:org.apache.felix.configadmin.revision:=L"1"
name="editor"
service.factoryPid="com.adobe.granite.resourcestatus.impl.CompositeStatusType"
service.pid="com.adobe.granite.resourcestatus.impl.CompositeStatusType~editor.config"
types=[ \
  "adobe-campaign", \
  "catalog-page", \
  "workflow", \
  "launches", \
  ]
