:org.apache.felix.configadmin.revision:=L"1"
components.list=[ \
  "com.day.crx.security.token.impl.impl.TokenAuthenticationHandler", \
  "com.day.cq.wcm.core.impl.WCMAdapterFactory", \
  "com.day.cq.workflow.impl.CQWorkflowService", \
  "com.adobe.granite.repository.impl.SlingRepositoryManager", \
  "com.adobe.aem.dam.impl.AssetAdapterFactory", \
  "com.adobe.granite.asset.core.impl.AssetAdapterFactory", \
  "com.day.cq.dam.core.impl.DamAdapterFactory", \
  "com.adobe.cq.assetcompute.impl.servlet.InitiateUploadAssetServlet", \
  "com.adobe.cq.assetcompute.impl.servlet.CompleteUploadAssetServlet", \
  "org.apache.sling.scripting.sightly.impl.engine.SightlyScriptEngineFactory", \
  "org.apache.sling.scripting.sightly.js.impl.JsUseProvider", \
  "org.apache.sling.scripting.jsp.JspScriptEngineFactory", \
  "com.day.cq.wcm.core.impl.page.PageManagerFactoryImpl", \
  "com.adobe.granite.ui.clientlibs.impl.HtmlLibraryManagerImpl", \
  "org.apache.sling.scripting.java.impl.JavaScriptEngineFactory", \
  "com.adobe.cq.cloudconfig.core.impl.ScriptTagComponentProviderImpl", \
  ]
hc.name="Required\ Components"
hc.tags=[ \
  "systemalive", \
  "systemready", \
  ]
service.factoryPid="org.apache.felix.hc.generalchecks.DsComponentsCheck"
service.pid="org.apache.felix.hc.generalchecks.DsComponentsCheck~systemready"
