:org.apache.felix.configadmin.revision:=L"1"
connectTimeoutInMs="$[env:AEM_HTTP_REQUESTS_CHECK_TIMEOUT_MS;type\=Integer;default\=15000]"
hc.name="Health\ Check:\ Required\ paths\ check"
hc.tags=[ \
  "systemstartup", \
  ]
readTimeoutInMs="$[env:AEM_HTTP_REQUESTS_CHECK_TIMEOUT_MS;type\=Integer;default\=15000]"
requests=[ \
  "-X\ HEAD\ -H\ \"X-AEM-LIVENESS-PROBE:\ Liveness-Probe\"\ /libs/granite/core/content/login.html\ \=>\ CODE\ \=\ 200", \
  ]
service.factoryPid="org.apache.felix.hc.generalchecks.HttpRequestsCheck"
service.pid="org.apache.felix.hc.generalchecks.HttpRequestsCheck~systemstartup"
statusForFailedContraint="CRITICAL"
