:org.apache.felix.configadmin.revision:=L"1"
hc.mbean.name="Initial\ content\ requests"
hc.name="Well-known\ request\ paths\ return\ expected\ HTTP\ status"
hc.tags=[ \
  "content", \
  "startup", \
  ]
requests=[ \
  "libs/cq/core/content/welcome.html", \
  "communities.html", \
  "projects.html", \
  "sites.html/content", \
  "assets.html/content/dam", \
  "tools.html", \
  "mcmadmin", \
  "libs/launches/content/admin.html", \
  "manuscriptsadmin", \
  "inbox", \
  "libs/cq/taskmanagement/content/taskmanager.html", \
  "useradmin", \
  "tagging", \
  "miscadmin", \
  "etc/replication.html", \
  "libs/cq/workflow/content/console.html", \
  "libs/cq/core/content/tools/cloudservices.html", \
  "libs/granite/topology/content/view.html", \
  "libs/granite/backup/content/admin.html", \
  "libs/granite/security/content/useradmin.html", \
  "libs/granite/security/content/groupadmin.html", \
  ]
service.factoryPid="org.apache.felix.hc.generalchecks.HttpRequestsCheck"
service.pid="org.apache.felix.hc.generalchecks.HttpRequestsCheck~1"
