:org.apache.felix.configadmin.revision:=L"1"
hc.name="Required\ Services"
hc.tags=[ \
  "systemready", \
  ]
service.factoryPid="org.apache.felix.hc.generalchecks.ServicesCheck"
service.pid="org.apache.felix.hc.generalchecks.ServicesCheck~systemready"
services.list=[ \
  "org.apache.sling.launchpad.api.StartupService", \
  "(&(objectClass\=java.util.ResourceBundle)(locale\=*))", \
  ]
