:org.apache.felix.configadmin.revision:=L"1"
authoringUIModeService.default="TOUCH"
authoringUIModeService.editorUrl.classic="/cf#"
authoringUIModeService.editorUrl.touch="/editor.html"
authoringUIModeService.editorUrl.universal="$[env:AEM_UNIVERSAL_EDITOR_PATH;default\=/ui#/aem/universal-editor/canvas/]"
authoringUIModeService.resourceTypes.universal=[ \
  "core/franklin/components/page/v1/page", \
  ]
service.pid="com.day.cq.wcm.core.impl.AuthoringUIModeServiceImpl"
