:org.apache.felix.configadmin.revision:=L"1"
link.expired.prefix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--prefix\ cq-LinkChecker--expired\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"expired\ link:\ %s\"\ title\=\"expired\ link:\ %s\"\ border\=\"0\">"
link.expired.remove=B"false"
link.expired.suffix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--suffix\ cq-LinkChecker--expired\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.invalid.prefix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--prefix\ cq-LinkChecker--invalid\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"invalid\ link:\ %s\"\ title\=\"invalid\ link:\ %s\"\ border\=\"0\">"
link.invalid.remove=B"true"
link.invalid.suffix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--suffix\ cq-LinkChecker--invalid\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.predated.prefix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--prefix\ cq-LinkChecker--predated\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_o.gif\"\ alt\=\"predated\ link:\ %s\"\ title\=\"predated\ link:\ %s\"\ border\=\"0\">"
link.predated.remove=B"false"
link.predated.suffix="<img\ class\=\"cq-LinkChecker\ cq-LinkChecker--suffix\ cq-LinkChecker--predated\"\ src\=\"/libs/cq/linkchecker/resources/linkcheck_c.gif\"\ border\=\"0\">"
link.wcmmodes=[ \
  "EDIT", \
  "READ_ONLY", \
  "DESIGN", \
  ]
service.factoryPid="com.day.cq.wcm.core.impl.LinkCheckerConfigurationFactoryImpl"
service.pid="com.day.cq.wcm.core.impl.LinkCheckerConfigurationFactoryImpl~author"
