:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet"
service.pid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet.d8377797-916b-44b6-b216-1630c86123bd"
sling.servlet.extensions=[ \
  "GQLschema", \
  "schemaerrors", \
  ]
sling.servlet.methods=[ \
  "GET", \
  ]
sling.servlet.resourceTypes=[ \
  "graphql-enablement/components/endpoint", \
  ]
