:org.apache.felix.configadmin.revision:=L"1"
mime.types=[ \
  "application/vnd.apple.keynote\ key", \
  "video/webm\ webm", \
  "video/x-matroska\ mkv", \
  "video/dvd\ vob", \
  "text/vtt\ vtt", \
  "application/x-indesign-snippet\ idms", \
  ]
service.pid="org.apache.sling.commons.mime.internal.MimeTypeServiceImpl"
