:org.apache.felix.configadmin.revision:=L"1"
kind="exporter"
provider.roots=[ \
  "/libs/sling/distribution/services/exporters", \
  ]
service.factoryPid="org.apache.sling.distribution.resources.impl.DistributionServiceResourceProviderFactory"
service.pid="org.apache.sling.distribution.resources.impl.DistributionServiceResourceProviderFactory~exporters"
