:org.apache.felix.configadmin.revision:=L"1"
kind="agent"
provider.roots=[ \
  "/libs/sling/distribution/settings/agents", \
  ]
service.factoryPid="org.apache.sling.distribution.resources.impl.DistributionConfigurationResourceProviderFactory"
service.pid="org.apache.sling.distribution.resources.impl.DistributionConfigurationResourceProviderFactory~agents"
