:org.apache.felix.configadmin.revision:=L"1"
maxPoolSize=I"4"
minPoolSize=I"0"
name="org-apache-sling-event"
service.factoryPid="org.apache.sling.commons.threads.impl.DefaultThreadPool.factory"
service.pid="org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~pool-for-scheduled-jobs-of-org-apache-sling-event"
