com.day.cq.dam.scene7.internal.impl.Scene7InternalUploadServiceImpl="launchpad:resources/install/20/cq-scene7-core-5.13.510.jar"
com.day.cq.wcm.core.impl.LinkCheckerSettingsProviderImpl="launchpad:resources/install/20/cq-wcm-core-5.14.166-SITES-22000-B0002.jar"
org.apache.aries.jmx.framework.StateConfig="launchpad:resources/install/2/org.apache.aries.jmx.core-1.1.8.jar"
org.apache.felix.eventadmin.impl.EventAdmin="launchpad:resources/install/4/org.apache.felix.eventadmin-1.6.4.jar"
org.apache.felix.http="launchpad:resources/install/5/org.apache.felix.http.jetty-5.1.20.jar"
org.apache.felix.jaas.Configuration.factory~GuestLoginModule="launchpad:resources/install/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~LoginModuleImpl="launchpad:resources/install/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.Configuration.factory~TokenLoginModule="launchpad:resources/install/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.felix.jaas.ConfigurationSpi="launchpad:resources/install/9/org.apache.felix.jaas-1.0.2.jar"
org.apache.http.proxyconfigurator~aemcloudservice="launchpad:resources/install/5/httpclient-osgi-4.5.13.jar"
org.apache.sling.commons.log.LogManager="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~access.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~asyncjssightly="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~audit.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~auditlog.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~history.config="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~queryrecorder.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.config~request.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.writer~access.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.writer~audit.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.writer~request.log="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.log.LogManager.factory.writer~upgrade.config="slinginstall:C:\\Users\\chia-ju.lin\\IdeaProjects\\winnsurf\\wknd\\crx-quickstart\\launchpad\\startup\\1\\org.apache.sling.commons.log-5.5.0.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~cq-asset-processing="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~cq-fill-cache="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~cq-polling-importer="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~default="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~discovery="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~oak="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~oak-observation="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~pool-for-scheduled-jobs-of-org-apache-sling-event="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.commons.threads.impl.DefaultThreadPool.factory~slingsitemap="launchpad:resources/install/15/org.apache.sling.commons.threads-3.2.22.jar"
org.apache.sling.extensions.webconsolesecurityprovider.internal.SlingWebConsoleSecurityProvider="launchpad:resources/install/15/org.apache.sling.extensions.webconsolesecurityprovider-1.2.8.jar"
