:org.apache.felix.configadmin.revision:=L"1"
objectnames=[ \
  "org.eclipse.jetty.util.thread:type\=queuedthreadpool,id\=0", \
  ]
service.factoryPid="org.apache.sling.commons.metrics.internal.JmxExporterFactory"
service.pid="org.apache.sling.commons.metrics.internal.JmxExporterFactory~jetty-threadpool"
