:org.apache.felix.configadmin.revision:=L"1"
dataSeriesId="defaultAssetTypeDataSeries"
service.factoryPid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.FacetedMetadataDefinition"
service.pid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.FacetedMetadataDefinition~defaultAssetTypeDataSeries"
