:org.apache.felix.configadmin.revision:=L"1"
dataSeriesId="defaultSizeHistogramDataSeries"
service.factoryPid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.SizeHistogramDefinition"
service.pid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.SizeHistogramDefinition~defaultSizeHistogramDataSeries"
