:org.apache.felix.configadmin.revision:=L"1"
dataSeriesId="defaultTrackedFolderDataSeries"
service.factoryPid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.TrackedFolderDefinition"
service.pid="com.adobe.cq.dam.repoinsights.assetcount.dataseries.TrackedFolderDefinition~defaultTrackedFolderDataSeries"
