:org.apache.felix.configadmin.revision:=L"1"
extensions=[ \
  "jpg", \
  "jpeg", \
  "png", \
  "gif", \
  "svg", \
  ]
maxSize=L"10000"
resource.types=[ \
  "core/wcm/components/image", \
  ]
selectors=[ \
  "img", \
  ]
service.factoryPid="com.adobe.cq.wcm.core.components.internal.servlets.AdaptiveImageServletMappingConfigurationFactory"
service.pid="com.adobe.cq.wcm.core.components.internal.servlets.AdaptiveImageServletMappingConfigurationFactory~img"
