:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
service.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment~cq-assets"
whitelist.bundles=[ \
  "com.adobe.cq.dam.cq-scene7-imaging", \
  ]
whitelist.name="cq-assets"
