:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
service.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment~sling-junit"
whitelist.bundles=[ \
  "org.apache.sling.junit.core", \
  "org.apache.sling.junit.scriptable", \
  ]
whitelist.name="sling-junit"
