:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment"
service.pid="org.apache.sling.jcr.base.internal.LoginAdminWhitelist.fragment~granite"
whitelist.bundles=[ \
  "com.adobe.granite.auth.saml", \
  "com.adobe.granite.maintenance.core", \
  "com.adobe.granite.repository", \
  "com.adobe.granite.repository.checker", \
  "com.day.crx.sling.crx-auth-token", \
  "com.day.cq.cq-authhandler", \
  "com.adobe.granite.auth.cert", \
  "day-commons-gfx", \
  ]
whitelist.name="granite"
