:org.apache.felix.configadmin.revision:=L"1"
addressBookStageHost="https://ab-stg.adobe-identity.com"
addressbookProdHost="https://ab.adobe-identity.com"
ethosEnvClusterType="$[env:ETHOS_ENV_CLUSTER_TYPE;default\=\ ]"
imsOrganization="$[env:imsOrganization;default\=\ ]"
service.pid="com.adobe.aem.addressbook.impl.config.ConfigService"
