:org.apache.felix.configadmin.revision:=L"1"
allowedpaths=[ \
  ".*", \
  ]
alloworiginregexp=[ \
  "https://.*\\.workfront\\.com", \
  "https://.*\\.workfront-dev\\.com", \
  "https://.*\\.dev\\.workfront\\.tech", \
  ]
exposedheaders=[ \
  "Link", \
  "Etag", \
  "Version", \
  "Revision", \
  "Content-MD5", \
  "Location", \
  "Content-Location", \
  "asset-id", \
  "x-resource-id", \
  "x-medialibrary-version", \
  "x-request-id", \
  ]
maxage=I"86400"
service.factoryPid="com.adobe.granite.cors.impl.CORSPolicyImpl"
service.pid="com.adobe.granite.cors.impl.CORSPolicyImpl~workfront"
supportedheaders=[ \
  "*", \
  ]
supportedmethods=[ \
  "GET", \
  "HEAD", \
  "POST", \
  "PUT", \
  "DELETE", \
  "PATCH", \
  ]
supportscredentials=B"true"
