:org.apache.felix.configadmin.revision:=L"1"
allowedpaths=[ \
  "/adobe/.*", \
  "/content/dam/.*", \
  ]
alloworiginregexp=[ \
  "$[env:ASSETS_3RD_PARTY_ORIGIN_REGEX;default\=disabled]", \
  "$[env:ASSETS_3RD_PARTY_ORIGIN_REGEX_02;default\=disabled]", \
  ]
exposedheaders=[ \
  "Link", \
  "Etag", \
  "Version", \
  "Revision", \
  "Content-MD5", \
  "Location", \
  "Content-Location", \
  "asset-id", \
  "x-resource-id", \
  "x-medialibrary-version", \
  ]
maxage=I"86400"
service.factoryPid="com.adobe.granite.cors.impl.CORSPolicyImpl"
service.pid="com.adobe.granite.cors.impl.CORSPolicyImpl~AssetSelector"
supportedheaders=[ \
  "*", \
  ]
supportedmethods=[ \
  "GET", \
  "HEAD", \
  "POST", \
  "PUT", \
  "DELETE", \
  "PATCH", \
  ]
supportscredentials=B"true"
