:org.apache.felix.configadmin.revision:=L"1"
require.validation=B"true"
required.principal.validators=[ \
  "org.apache.sling.jcr.resource.internal.JcrSystemUserValidator", \
  "com.adobe.granite.repository.impl.SystemPrincipalsValidation", \
  ]
required.user.validators=[ \
  "org.apache.sling.jcr.resource.internal.JcrSystemUserValidator", \
  "com.adobe.granite.repository.impl.SystemUserValidation", \
  ]
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl"
user.enable.default.mapping=B"false"
