:org.apache.felix.configadmin.revision:=L"1"
enable.direct.asset.download="true"
enable.manifest.validation="true"
enable.multisession="false"
enable.retry="true"
enable.retry.scripterror="true"
externalizer.domain.cqhost="idsproxy"
externalizer.domain.http="idsproxy"
ids.cc.enable="true"
service.pid="com.day.cq.dam.ids.impl.IDSJobProcessor"
