:org.apache.felix.configadmin.revision:=L"1"
service.bad_link_tolerance_interval=L"48"
service.check_override_patterns=[ \
  "^system/", \
  ]
service.pid="com.day.cq.rewriter.linkchecker.impl.LinkCheckerImpl"
service.special_link_patterns=""
service.special_link_prefix=[ \
  "javascript:", \
  "data:", \
  "mailto:", \
  "#", \
  "<!--", \
  "${", \
  ]
