:org.apache.felix.configadmin.revision:=L"1"
enable.resource.caching="$[env:AEM_SERVLETS_RESOLVER_RESOURCE_CACHING;default\=true]"
service.pid="org.apache.sling.servlets.resolver.SlingServletResolver"
servletresolver.cacheSize=I"1000"
servletresolver.mountPathProviders=B"true"
servletresolver.paths=[ \
  "/bin/", \
  "/libs/", \
  "/apps/", \
  "/system/", \
  "/index.servlet", \
  "/login.servlet", \
  "/services/", \
  "/etc.servlet", \
  "/graphql/", \
  ]
servletresolver.servletRoot=I"-1"
