:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~com.adobe.aem.sites-headless"
user.mapping=[ \
  "com.adobe.aem.sites-headless:version-manager\=[workflow-process-service]", \
  "com.adobe.aem.sites-headless:headless-service\=[content-reader-service,configuration-reader-service,user-reader-service]", \
  ]
