:org.apache.felix.configadmin.revision:=L"1"
datasources=[ \
  "DS:granite_PROCESS_CPU_LOAD_PERCENTAGE:GAUGE:300:0:U", \
  "DS:granite_SYSTEM_CPU_LOAD_PERCENTAGE:GAUGE:300:0:U", \
  "DS:granite_DISK_USABLE_SPACE:GAUGE:300:0:U", \
  "DS:granite_FREE_PHYSICAL_MEMORY_SIZE:GAUGE:300:0:U", \
  "DS:granite_HEAP_USED:GAUGE:300:0:U", \
  "DS:granite_HEAP_MAX:GAUGE:300:0:U", \
  "DS:granite_NON_HEAP_USED:GAUGE:300:0:U", \
  "DS:granite_OPEN_FILE_DESCRIPTOR_COUNT:GAUGE:300:0:U", \
  "DS:granite_system.cpu.user:GAUGE:300:0:U", \
  "DS:granite_system.cpu.nice:GAUGE:300:0:U", \
  "DS:granite_system.cpu.system:GAUGE:300:0:U", \
  "DS:granite_system.cpu.idle:GAUGE:300:0:U", \
  "DS:granite_system.cpu.iowait:GAUGE:300:0:U", \
  "DS:granite_process.io.read:COUNTER:300:0:U", \
  "DS:granite_process.io.write:COUNTER:300:0:U", \
  "DS:granite_process.io.disk.read:COUNTER:300:0:U", \
  "DS:granite_process.io.disk.write:COUNTER:300:0:U", \
  "DS:granite_process.io.cancelled.write:COUNTER:300:0:U", \
  "DS:granite_process.memory.faults.minor:COUNTER:300:0:U", \
  "DS:granite_process.memory.faults.major:COUNTER:300:0:U", \
  "DS:granite_process.memory.virtual:GAUGE:300:0:U", \
  "DS:granite_process.memory.resident:GAUGE:300:0:U", \
  "DS:granite_system.memory.total:GAUGE:300:0:U", \
  "DS:granite_system.memory.free:GAUGE:300:0:U", \
  "DS:granite_system.memory.cached:GAUGE:300:0:U", \
  "DS:granite_system.memory.active:GAUGE:300:0:U", \
  "DS:granite_system.memory.inactive:GAUGE:300:0:U", \
  "DS:granite_system.memory.mapped:GAUGE:300:0:U", \
  "DS:granite_system.memory.swap.cached:GAUGE:300:0:U", \
  "DS:granite_system.memory.swap.total:GAUGE:300:0:U", \
  "DS:granite_system.memory.swap.free:GAUGE:300:0:U", \
  "DS:granite_system.network.rx:COUNTER:300:0:U", \
  "DS:granite_system.network.tx:COUNTER:300:0:U", \
  "DS:oak_SESSION_LOGIN_COUNTER:COUNTER:300:0:U", \
  "DS:oak_SESSION_COUNT:GAUGE:300:0:U", \
  "DS:oak_SESSION_WRITE_COUNTER:COUNTER:300:0:U", \
  "DS:oak_OBSERVATION_EVENT_COUNTER:COUNTER:300:0:U", \
  "DS:oak_OBSERVATION_QUEUE_MAX_LENGTH:GAUGE:300:0:U", \
  "DS:oak_/oak_index/cqPageLucene_NRT_UPDATES:COUNTER:300:0:U", \
  "DS:oak_/oak_index/ntBaseLucene_NRT_UPDATES:COUNTER:300:0:U", \
  "DS:oak_/oak_index/slingeventJob_NRT_UPDATES:COUNTER:300:0:U", \
  "DS:oak_/oak_index/versionStoreIndex_NRT_UPDATES:COUNTER:300:0:U", \
  "DS:oak_HYBRID_ADDED:COUNTER:300:0:U", \
  "DS:oak_HYBRID_DROPPED:COUNTER:300:0:U", \
  "DS:oak_HYBRID_EXTERNAL_ADDED:COUNTER:300:0:U", \
  "DS:oak_HYBRID_QUEUE_SIZE:GAUGE:300:0:U", \
  "DS:oak_async.INDEXER_COUNT:COUNTER:300:0:U", \
  "DS:oak_async.INDEXER_NODE_COUNT:COUNTER:300:0:U", \
  "DS:oak_fulltext-async.INDEXER_COUNT:COUNTER:300:0:U", \
  "DS:oak_fulltext-async.INDEXER_NODE_COUNT:COUNTER:300:0:U", \
  "DS:oak_BLOB_DOWNLOAD_COUNT:COUNTER:300:0:U", \
  "DS:oak_BLOB_UPLOAD_COUNT:COUNTER:300:0:U", \
  "DS:oak_COMMIT_QUEUE_SIZE:GAUGE:300:0:U", \
  "DS:oak_COMMITS_COUNT:COUNTER:300:0:U", \
  "DS:oak_JOURNAL_WRITES:COUNTER:300:0:U", \
  "DS:oak_SEGMENT_REPO_SIZE:GAUGE:300:0:U", \
  "DS:oak_SEGMENT_WRITES:COUNTER:300:0:U", \
  "DS:oak_oak.segment.node-deduplication-cache-WRITE.access-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.node-deduplication-cache-WRITE.miss-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.string-deduplication-cache-WRITE.access-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.string-deduplication-cache-WRITE.miss-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.template-deduplication-cache-WRITE.access-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.template-deduplication-cache-WRITE.miss-count:COUNTER:300:0:U", \
  "DS:oak_oak.segment.segment-read-bytes:COUNTER:300:0:U", \
  "DS:oak_oak.segment.segment-write-bytes:COUNTER:300:0:U", \
  "DS:oak_CacheStats.BlobStore-MemCache.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.BlobStore-MemCache.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-Documents.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-Documents.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-LocalDiff.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-LocalDiff.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-MemoryDiff.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-MemoryDiff.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-NodeChildren.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-NodeChildren.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-NodeState.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-NodeState.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-PrevDocuments.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.Document-PrevDocuments.request:COUNTER:300:0:U", \
  "DS:oak_CacheStats.ExtractedTextCache.hit:COUNTER:300:0:U", \
  "DS:oak_CacheStats.ExtractedTextCache.request:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_JOURNAL_CREATE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_JOURNAL_QUERY:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_CREATE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_CREATE_SPLIT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_CREATE_TIMER:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_CREATE_UPSERT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_CREATE_UPSERT_TIMER:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_FIND_CACHED:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_FIND_MISSING:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_FIND_PRIMARY:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_FIND_SLAVE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_FIND_SPLIT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_QUERY_FIND:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_QUERY_LOCK:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_QUERY_PRIMARY:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_QUERY_SLAVE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_REMOVE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_REMOVE_TIMER:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_UPDATE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_UPDATE_FAILURE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NODES_UPDATE_RETRY:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_BGR_NUM_CHANGES_RATE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_BGW_NUM_WRITE_RATE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_BRANCH_COMMIT_COUNT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_MERGE_BRANCH_COMMIT_COUNT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_MERGE_FAILED_EXCLUSIVE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_MERGE_SUCCESS_COUNT:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_MERGE_SUCCESS_EXCLUSIVE:COUNTER:300:0:U", \
  "DS:oak_DOCUMENT_NS_MERGE_SUCCESS_SUSPENDED:COUNTER:300:0:U", \
  "DS:oak_MongoDB.blobs.count:GAUGE:300:0:U", \
  "DS:oak_MongoDB.blobs.size:GAUGE:300:0:U", \
  "DS:oak_MongoDB.blobs.storageSize:GAUGE:300:0:U", \
  "DS:oak_MongoDB.clusterNodes.count:GAUGE:300:0:U", \
  "DS:oak_MongoDB.journal.count:GAUGE:300:0:U", \
  "DS:oak_MongoDB.journal.size:GAUGE:300:0:U", \
  "DS:oak_MongoDB.nodes.count:GAUGE:300:0:U", \
  "DS:oak_MongoDB.nodes.size:GAUGE:300:0:U", \
  "DS:oak_MongoDB.nodes.storageSize:GAUGE:300:0:U", \
  "DS:oak_RevisionGC.DELETE_DOC:COUNTER:300:0:U", \
  "DS:oak_RevisionGC.DELETE_INT_SPLIT_DOC:COUNTER:300:0:U", \
  "DS:oak_RevisionGC.DELETE_LEAF_DOC:COUNTER:300:0:U", \
  "DS:oak_RevisionGC.DELETE_SPLIT_DOC:COUNTER:300:0:U", \
  "DS:oak_RevisionGC.READ_DOC:COUNTER:300:0:U", \
  "DS:oak_RevisionGC.RESET_DELETED_FLAG:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.children.HITS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.children.REQUESTS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.diff.HITS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.diff.REQUESTS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.local_diff.HITS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.local_diff.REQUESTS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.node.HITS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.node.REQUESTS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.prev_document.HITS:COUNTER:300:0:U", \
  "DS:oak_PersistentCache.NodeCache.prev_document.REQUESTS:COUNTER:300:0:U", \
  "DS:sling_commons.scheduler.timer.tp.default:COUNTER:300:0:U", \
  "DS:sling_commons.scheduler.timer.tp.oak:COUNTER:300:0:U", \
  "DS:sling_cq.dam.asset.updates:COUNTER:300:0:U", \
  "DS:sling_cq.dam.asset.updates.ongoing:GAUGE:300:0:U", \
  "DS:sling_granite.request.metrics.timer:COUNTER:300:0:U", \
  ]
service.pid="org.apache.sling.commons.metrics.rrd4j.impl.CodahaleMetricsReporter"
