:org.apache.felix.configadmin.revision:=L"1"
forms.formparagraphpostprocessor.enabled=B"true"
forms.formparagraphpostprocessor.formresourcetypes=[ \
  "core/wcm/components/form/container/v1/container", \
  "core/wcm/components/form/container/v2/container", \
  ]
service.factoryPid="com.day.cq.wcm.foundation.forms.impl.FormParagraphPostProcessor"
service.pid="com.day.cq.wcm.foundation.forms.impl.FormParagraphPostProcessor~core-components"
