:org.apache.felix.configadmin.revision:=L"1"
forms.formparagraphpostprocessor.enabled=B"true"
forms.formparagraphpostprocessor.formresourcetypes=[ \
  "foundation/components/form/start", \
  "foundation/components/form/end", \
  ]
service.factoryPid="com.day.cq.wcm.foundation.forms.impl.FormParagraphPostProcessor"
service.pid="com.day.cq.wcm.foundation.forms.impl.FormParagraphPostProcessor~foundation"
