:org.apache.felix.configadmin.revision:=L"1"
resource.blacklist=[ \
  "/content/usergenerated", \
  ]
resource.whitelist=[ \
  "/content", \
  "/home", \
  ]
service.description="Core\ Form\ Mail\ Servlet"
service.factoryPid="com.day.cq.wcm.foundation.forms.impl.MailServlet"
service.pid="com.day.cq.wcm.foundation.forms.impl.MailServlet~core-components"
sling.servlet.resourceTypes=[ \
  "core/wcm/components/form/container/v1/container", \
  "core/wcm/components/form/container/v2/container", \
  ]
sling.servlet.selectors="mail"
