:org.apache.felix.configadmin.revision:=L"1"
resource.blacklist=[ \
  "/content/usergenerated", \
  ]
resource.whitelist=[ \
  "/content", \
  "/home", \
  ]
service.description="Foundation\ Form\ Mail\ Servlet"
service.factoryPid="com.day.cq.wcm.foundation.forms.impl.MailServlet"
service.pid="com.day.cq.wcm.foundation.forms.impl.MailServlet~foundation"
sling.servlet.resourceTypes=[ \
  "foundation/components/form/start", \
  ]
sling.servlet.selectors="mail"
