:org.apache.felix.configadmin.revision:=L"1"
ignoredClassNamesInCallTrace=[ \
  "com.day.cq.search.impl.builder.QueryImpl", \
  "com.google.common.collect.Iterators", \
  "java.lang", \
  "org.apache.jackrabbit.commons.iterator.NodeIteratorAdapter", \
  "org.apache.jackrabbit.commons.iterator.RangeIteratorAdapter", \
  "org.apache.jackrabbit.commons.iterator.RangeIteratorDecorator", \
  "org.apache.jackrabbit.guava.common.collect.Iterators", \
  "org.apache.jackrabbit.oak", \
  "org.apache.sling.jcr.resource.internal.helper.jcr.BasicQueryLanguageProvider", \
  "org.apache.sling.jcr.resource.internal.helper.JcrResourceUtil.query", \
  "org.apache.sling.resourceresolver.impl.helper.ResourceResolverControl.findResources", \
  "org.apache.sling.resourceresolver.impl.providers.stateful.AuthenticatedResourceProvider.findResources", \
  "org.apache.sling.resourceresolver.impl.ResourceResolverImpl.findResources", \
  ]
service.pid="org.apache.jackrabbit.oak.query.QueryEngineSettingsService"
