:org.apache.felix.configadmin.revision:=L"1"
adobeKnown=[ \
  "$[env:AEM_ERRORS_DETECTION_KNOWN_ADOBE;default\=EXAMPLE-001:some/example/resource/type:com.adobe.this.is.known.Exception]", \
  ]
adobeUnknown=[ \
  "$[env:AEM_ERRORS_DETECTION_UNKNOWN_ADOBE;default\=EXAMPLE-003:some/other/example/resource/type:com.adobe.this.should.be.a.wide.regexp.Exception]", \
  ]
service.pid="com.adobe.granite.metrics.knownerrors.impl.KnownErrorConfiguration"
