:org.apache.felix.configadmin.revision:=L"1"
enabled=B"true"
id="aem-analytics-integration-lastYear"
interval=L"31536000"
login=""
reference=B"true"
service.factoryPid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl"
service.pid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl~209a0117-b1a5-4a9a-88be-da9dcdea35c1"
source="screport:default"
target=""
