:org.apache.felix.configadmin.revision:=L"1"
enabled=B"true"
id="aem-analytics-integration-last90DaysPrev"
interval=L"43200"
login=""
reference=B"true"
service.factoryPid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl"
service.pid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl~2c98542b-3679-44d4-a9c9-059d177f01aa"
source="screport:default"
target=""
