:org.apache.felix.configadmin.revision:=L"1"
enabled=B"true"
id="aem-analytics-integration-thisYear"
interval=L"86400"
login=""
reference=B"true"
service.factoryPid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl"
service.pid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl~3a6aba56-5fbd-409a-8184-75dad2d9adbd"
source="screport:default"
target=""
