:org.apache.felix.configadmin.revision:=L"1"
enabled=B"true"
id="aem-analytics-integration-last90Days"
interval=L"43200"
login=""
reference=B"true"
service.factoryPid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl"
service.pid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl~6d43d7a6-6fa2-4a26-a9bd-543b2beb6af5"
source="screport:default"
target=""
