:org.apache.felix.configadmin.revision:=L"1"
enabled=B"true"
id="aem-analytics-integration-last30Days"
interval=L"43200"
login=""
reference=B"true"
service.factoryPid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl"
service.pid="com.day.cq.polling.importer.impl.ManagedPollConfigImpl~c60774aa-ab9e-4a0e-a130-8508bdd0cf36"
source="screport:default"
target=""
