:org.apache.felix.configadmin.revision:=L"1"
hc.mbean.name="Default\ logins"
hc.name="Default\ logins\ are\ disabled"
hc.tags=[ \
  "security", \
  "logins", \
  "production", \
  ]
logins=[ \
  "admin:admin", \
  "author:author", \
  ]
service.factoryPid="org.apache.sling.hc.support.DefaultLoginsHealthCheck"
service.pid="org.apache.sling.hc.support.DefaultLoginsHealthCheck~1"
