:org.apache.felix.configadmin.revision:=L"1"
mobile.resourceTypes=[ \
  "core/wcm/components/page/v1/page", \
  "core/wcm/components/page/v2/page", \
  "core/wcm/components/page/v3/page", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~core-components"
