:org.apache.felix.configadmin.revision:=L"1"
README="Activates\ the\ layouting\ functionality\ for\ the\ page\ type"
mobile.resourceTypes=[ \
  "wcm/foundation/components/page", \
  ]
service.factoryPid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider"
service.pid="com.day.cq.wcm.mobile.core.impl.MobileEmulatorProvider~page-config"
