:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~jcrcontentloader"
user.mapping=[ \
  "org.apache.sling.jcr.contentloader\=[sling-content-loader]", \
  ]
