:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~bp"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Adobe\ Brand\ Portal\=[bp-imsconfig-service]", \
  "com.adobe.granite.replication.core\=[bp-imsconfig-service]", \
  ]
