:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~projects"
user.mapping=[ \
  "com.adobe.cq.com.adobe.cq.projects.core\=[projects-service]", \
  "com.adobe.cq.com.adobe.cq.projects.core:purge\=[projects-purge-service]", \
  "com.adobe.cq.com.adobe.cq.projects.core:omnisearch-service\=[omnisearch-service]", \
  ]
