:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~wcm-core"
user.mapping=[ \
  "com.adobe.cq.wcm.com.adobe.cq.wcm.jobs.async:reference-adjustment-service\=[reference-adjustment-service,content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-core:dim-service\=[content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-core:version-purge\=[version-purge-service]", \
  "com.day.cq.wcm.cq-wcm-core:reference-adjustment-service\=[reference-adjustment-service,content-reader-service]", \
  "com.day.cq.wcm.cq-command:reference-search-service\=[content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-core:language-manager-service\=[language-manager-service]", \
  "com.day.cq.wcm.cq-wcm-core:primary-resource-search\=[primary-resource-search-service]", \
  "com.day.cq.wcm.cq-wcm-core:components-search\=[sling-scripting]", \
  "com.day.cq.wcm.cq-wcm-core:version-manager\=[version-manager-service,content-writer-service]", \
  "com.adobe.cq.wcm.com.adobe.aem.wcm.pwa:sites-pwa-service\=[sites-pwa-service]", \
  "com.day.cq.wcm.cq-wcm-undo:undo-service\=[undo-service]", \
  "com.day.cq.wcm.cq-wcm-core:design-cache-service\=[design-cache-service]", \
  "com.day.cq.wcm.cq-wcm-core:repository-change-listener-service\=[repository-change-listener-service,content-reader-service,configuration-reader-service]", \
  "com.day.cq.wcm.cq-wcm-core:on-off-time-service\=[on-off-time-service,content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-workflow:device-identification-service\=[content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-core:replication-service\=[replication-service]", \
  "com.day.cq.wcm.cq-wcm-workflow:wcm-workflow-service\=[workflow-service]", \
  "com.day.cq.wcm.cq-wcm-workflow:wcm-page-service\=[content-reader-service,configuration-reader-service,sling-scripting]", \
  "com.day.cq.wcm.cq-wcm-core:omnisearch-service\=[omnisearch-service]", \
  "com.adobe.cq.wcm.cq-wcm-launches-core:omnisearch-service\=[omnisearch-service]", \
  "com.day.cq.wcm.cq-wcm-core:page-name-validator-service\=[page-name-validator-service]", \
  "com.day.cq.wcm.cq-wcm-core:asyncjobshelper\=[async-jobs-service]", \
  ]
