:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~cq-experience-fragments"
user.mapping=[ \
  "com.adobe.cq.cq-experience-fragments:omnisearch-service\=[omnisearch-service]", \
  "com.adobe.cq.cq-experience-fragments:target\=[targetservice]", \
  "com.adobe.cq.cq-experience-fragments:experience-fragments-service\=[experience-fragments-service]", \
  "com.adobe.cq.cq-experience-fragments:replicationService\=[replication-service]", \
  "com.adobe.cq.cq-experience-fragments:referenceProcessingService\=[reference-processing-service,content-reader-service,dam-writer-service]", \
  ]
