:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~wcm-launches-core"
user.mapping=[ \
  "com.adobe.cq.wcm.cq-wcm-launches-core:launch-event-service\=[launch-event-service,content-reader-service]", \
  "com.adobe.cq.wcm.cq-wcm-launches-core:launch-promote-service\=[launch-promote-service,replication-service]", \
  ]
