:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~account"
user.mapping=[ \
  "com.adobe.cq.cq-account:account-management-service\=[account-manager,content-reader-service,group-reader-service,user-administration-service]", \
  ]
