:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~nui-process"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Asset\ Compute\=[nui-process-service]", \
  "com.adobe.cq.dam.cq-dam-processor-nui:nuiprocess\=[nui-process-service]", \
  "com.adobe.cq.dam.asset-delivery:asset-delivery-auth-service\=[nui-process-service]", \
  ]
