:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~target-adobeims"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Adobe\ Target\=[target-imsconfig-service]", \
  "com.adobe.cq.cq-target-integration:Adobe\ Target\=[target-imsconfig-service]", \
  ]
