:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~inbox-content"
user.mapping=[ \
  "com.adobe.cq.inbox.cq-inbox\=[omnisearch-service]", \
  "com.adobe.cq.inbox.cq-inbox:inboxtype-reader\=[repository-reader-service]", \
  ]
