:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~cs-scripttags"
user.mapping=[ \
  "com.adobe.cq.cloud-config.core:cloudconfig-scripttags\=[cloudconfig-scripttags,content-reader-service]", \
  "com.adobe.cq.cloud-config.core:replication-service\=[replication-service]", \
  ]
