:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~workflow"
user.mapping=[ \
  "com.adobe.granite.workflow.core:workflow\=[workflow-service]", \
  "com.adobe.granite.workflow.core:user\=[user-reader-service,group-reader-service]", \
  "com.adobe.granite.workflow.core:repo-reader\=[repository-reader-service]", \
  "com.adobe.granite.workflow.core:process\=[workflow-process-service,repository-reader-service]", \
  "com.adobe.granite.workflow.console:repo-reader\=[repository-reader-service]", \
  "com.adobe.granite.workflow.console:process\=[workflow-process-service,repository-reader-service]", \
  "com.adobe.granite.workflow.console:omnisearch-service\=[omnisearch-service]", \
  ]
