:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~wcm-designimporter"
user.mapping=[ \
  "com.day.cq.wcm.cq-wcm-designimporter:canvaspage-activate-service\=[canvaspage-activate-service,campaign-reader]", \
  "com.day.cq.wcm.cq-wcm-designimporter:canvaspage-delete-service\=[canvaspage-delete-service]", \
  ]
