:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~cq-workflow"
user.mapping=[ \
  "com.day.cq.workflow.cq-workflow-console\=[workflow-service]", \
  "com.day.cq.workflow.cq-workflow-impl:workflow\=[workflow-service]", \
  "com.day.cq.workflow.cq-workflow-impl:workflow-user\=[user-reader-service,group-reader-service]", \
  "com.day.cq.workflow.cq-workflow-impl:repo-reader\=[repository-reader-service]", \
  ]
