:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~platform"
user.mapping=[ \
  "com.day.cq.cq-rewriter:linkstorage-service\=[linkstorage-service]", \
  "com.day.cq.cq-rewriter:fontconfig-service\=[fontconfig-service]", \
  "com.day.cq.cq-rewriter:repository-reader-service\=[repository-reader-service]", \
  "com.day.cq.cq-polling-importer:polling-importer-service\=[polling-importer-service,content-reader-service]", \
  "com.day.cq.cq-replication-audit:repository-reader-service\=[repository-reader-service]", \
  "com.day.cq.cq-mailer:mailer-config-service\=[mailer-config-service]", \
  ]
