:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~targetrecs-deleted-listener"
user.mapping=[ \
  "com.adobe.cq.cq-targetrecommendations:deleted-products-listener\=[recs-deleted-products-listener-service,content-reader-service]", \
  ]
