:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~ajo-adobeims"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Adobe\ Journey\ Optimizer\=[ajo-imsconfig-service]", \
  "outbound-marketing-core:Adobe\ Journey\ Optimizer\=[ajo-imsconfig-service]", \
  ]
