:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~distribution-defaultAgentService"
user.mapping=[ \
  "org.apache.sling.distribution.core:defaultAgentService\=[replication-service]", \
  "org.apache.sling.distribution.core\=[replication-service]", \
  ]
