:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~dynamicmedia"
user.mapping=[ \
  "com.adobe.cq.dam.cq-dynamicmedia-core:dynamicmediaconfigservice\=[dynamicmedia-config-service,dam-writer-service,version-manager-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:s7damconfigservice\=[s7dam-config-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:scene7-asset-reader-service\=[dam-reader-service,dynamicmedia-config-service,scene7-config-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:scene7-asset-writer-service\=[dam-writer-service,dynamicmedia-config-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:scene7configservice\=[scene7-config-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:youtubeaccountauthenticator\=[youtube-authenticator-user,dam-writer-service,version-manager-service,dam-replication-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:workflowservice\=[workflow-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:omnisearch-service\=[omnisearch-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:s7-config-writer-service\=[scene7-config-writer-service]", \
  "com.day.cq.dam.cq-scene7-core:dynamicmediaconfigservice\=[dynamicmedia-config-service,dam-writer-service]", \
  "com.day.cq.dam.cq-scene7-core:scene7configservice\=[scene7-config-service]", \
  "com.day.cq.dam.cq-scene7-core:ips-jobs-journal-service\=[workflow-process-service,dynamicmedia-config-service]", \
  "com.day.cq.dam.cq-scene7-core:s7-config-writer-service\=[scene7-config-writer-service]", \
  "com.day.cq.dam.cq-scene7-core:scene7-asset-reader-service\=[dam-reader-service,dynamicmedia-config-service,scene7-config-service]", \
  "com.day.cq.dam.cq-scene7-core:scene7-asset-writer-service\=[dam-writer-service,dynamicmedia-config-service,workflow-process-service]", \
  "com.adobe.cq.dam.cq-scene7-migrator:scene7configservice\=[scene7-config-service]", \
  "org.apache.sling.scripting.core:scene7configservice\=[scene7-config-service]", \
  "com.adobe.cq.dam.upgradetools.aem.cq-dam-upgradetools-aem-core:scene7-asset-writer-service\=[dam-writer-service,scene7-config-writer-service]", \
  ]
