:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~remotedam"
user.mapping=[ \
  "com.adobe.cq.remotedam.cq-remotedam-client-core:mountpointmanager\=[dam-replication-service,user-reader-service]", \
  "com.adobe.cq.remotedam.cq-remotedam-client-core:assetimporter\=[dam-writer-service,configuration-reader-service,replication-service,namespace-mgmt-service]", \
  "com.adobe.cq.remotedam.cq-remotedam-client-core:presetimporter\=[repository-reader-service,scene7-config-writer-service]", \
  "com.adobe.cq.remotedam.cq-remotedam-commons:eventjournalservice\=[remote-ref-cache-user]", \
  "com.adobe.cq.remotedam.cq-remotedam-server-core:remoterefcacheserviceuser\=[configuration-reader-service,remote-ref-cache-user]", \
  "com.adobe.cq.remotedam.cq-remotedam-server-core:lsconfigreader\=[configuration-reader-service]", \
  ]
