:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~stock-integration"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Adobe\ Stock\=[stock-imsconfig-service]", \
  "com.day.cq.dam.cq-dam-stock-integration:Adobe\ Stock\=[stock-imsconfig-service]", \
  "com.day.cq.dam.cq-dam-stock-integration:omnisearch-service\=[omnisearch-service]", \
  ]
