:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~resourceresolver"
user.mapping=[ \
  "org.apache.sling.resourceresolver:mapping\=[repository-reader-service]", \
  "org.apache.sling.resourceresolver:hierarchy\=[repository-reader-service]", \
  "org.apache.sling.resourceresolver:observation\=[repository-reader-service]", \
  "org.apache.sling.resourceresolver:console\=[repository-reader-service]", \
  ]
