:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~foundation"
user.mapping=[ \
  "com.day.cq.wcm.cq-wcm-foundation:hierarchymodification-listener-service\=[content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-foundation:start-workflow-service\=[foundation-forms-service,workflow-service]", \
  "com.day.cq.wcm.cq-wcm-foundation:colctl-postprocessor-service\=[content-reader-service]", \
  "com.day.cq.wcm.cq-wcm-foundation:form-store-service\=[foundation-forms-store-service]", \
  ]
