:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~asyncjobgranite"
user.mapping=[ \
  "com.adobe.granite.jobs.async:asyncjobshelper\=[granite-async-jobs-service,async-jobs-service]", \
  "com.adobe.granite.jobs.async:asyncjobs-notification-helper\=[granite-async-jobs-service,user-reader-service]", \
  ]
