:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~smarttags"
user.mapping=[ \
  "com.adobe.cq.adobeims.core:Smart\ Tags\=[dam-update-service]", \
  ]
