:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~unifiedshell"
user.mapping=[ \
  "com.adobe.cq.unifiedshell.unified-shell-integration:unifiedshell-conf-service\=[unifiedshell-conf-service]", \
  ]
