:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~wcm-frontend-manager"
user.mapping=[ \
  "com.adobe.cq.com.adobe.aem.wcm.frontend.manager:theme-update-service\=[theme-update-service]", \
  ]
