:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~dam"
user.mapping=[ \
  "com.day.cq.dam.cq-dam-core:configreader\=[configuration-reader-service,dam-reader-service]", \
  "com.day.cq.dam.cq-dam-core:activitypurgesrv\=[activitypurgesrv]", \
  "com.day.cq.dam.cq-dam-core:teammanager\=[dam-teammgr-service,group-reader-service,user-administration-service]", \
  "com.day.cq.dam.cq-dam-core:resourcecollectionservice\=[resourcecollectionservice,group-reader-service,user-reader-service]", \
  "com.day.cq.dam.cq-dam-core:pathbuilder\=[targetservice]", \
  "com.day.cq.dam.cq-dam-core:assetmove\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:folderpreviewupdatehelper\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:eventrecorderhelper\=[dam-activitywriter-service,dam-reader-service,user-reader-service]", \
  "com.day.cq.dam.cq-dam-core:eventlistenerhelper\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:commentmonitorhelper\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:usermanagerhelper\=[dam-teammgr-service,group-reader-service,user-reader-service]", \
  "com.day.cq.dam.cq-dam-similaritysearch:eventlistenerhelper\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-similaritysearch:similaritysearchservice\=[dam-update-service,tag-validation-service]", \
  "com.day.cq.dam.cq-dam-core:assetidhelper\=[dam-update-service]", \
  "com.day.cq.dam.cq-dam-core:expirymonitoringhelper\=[dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:assetreplicationhelper\=[dynamic-media-replication]", \
  "com.day.cq.dam.cq-dam-core:notificationhelper\=[notification-service,user-reader-service]", \
  "com.day.cq.dam.cq-dam-core:omnisearch-service\=[omnisearch-service]", \
  "com.day.cq.dam.cq-dam-core:chunkdeleteservice\=[dam-update-service]", \
  "com.day.cq.dam.cq-dam-core:streameduploadservice\=[dam-update-service]", \
  "com.day.cq.dam.cq-dam-asset-usage:assetusagetrackeruser\=[assetusagetrackeruser,dam-writer-service]", \
  "com.day.cq.dam.cq-dam-indesign:idsprocessor\=[idsjobprocessor,dam-writer-service]", \
  "com.day.cq.dam.cq-dam-core:linkshareservice\=[assetlinkshareservice,dam-reader-service]", \
  "com.day.cq.dam.cq-dam-core:subassetdownloadservice\=[assetdownloadservice]", \
  "com.day.cq.dam.cq-dam-core:translation-job\=[translation-job-service]", \
  "com.day.cq.dam.cq-dam-core:formitemsextractionhelper\=[dam-formitemseditor-service]", \
  "com.adobe.cq.cq-dam-mac-sync:dam-replication\=[dam-replication-service,group-reader-service,user-reader-service,dynamicmedia-config-service]", \
  "com.adobe.cq.cq-dam-mac-sync-helper:dam-replication-helper\=[dam-replication-service,group-reader-service,user-reader-service,dynamicmedia-config-service]", \
  "com.day.cq.dam.cq-dam-commons:namespaceupdatehelper\=[namespace-mgmt-service]", \
  "com.day.cq.dam.cq-dam-core:missingmetadatanotificationservice\=[assetusagetrackeruser,dam-writer-service]", \
  "com.day.cq.dam.cq-dam-commons:resourcecollectionservice\=[resourcecollectionservice]", \
  "com.day.cq.dam.cq-dam-core:assetreporthelper\=[dam-reports-manager-service,dam-reader-service]", \
  "com.day.cq.dam.cq-dam-core:metadataexporthelper\=[dam-metadata-export-service]", \
  "com.day.cq.dam.cq-dam-core:asyncjobshelper\=[async-jobs-service,dam-metadata-writer-service]", \
  "com.day.cq.dam.cq-dam-core:bulkoperations\=[direct-counts-service,dam-reader-service]", \
  "com.day.cq.dam.cq-dam-commons:metadataschemareader\=[dam-replication-service,dam-formitemseditor-service]", \
  "com.day.cq.dam.cq-dam-entitlement:indesign-feature-service\=[idsjobprocessor]", \
  "com.day.cq.dam.cq-dam-entitlement:scene7-feature-service\=[scene7-config-service]", \
  "com.adobe.cq.dam.cq-dynamicmedia-core:scene7-feature-service\=[scene7-config-service]", \
  "com.adobe.cq.dam.cq-dam-processor-nui:createrendition\=[dam-writer-service,content-reader-service,nui-process-service,workflow-process-service,dam-metadata-writer-service,dam-subjects-mapping-service]", \
  "com.adobe.cq.dam.cq-dam-processor-nui:frameio\=[dam-writer-service,workflow-process-service]", \
  "com.adobe.cq.dam.cq-dam-processor-nui:workflow-runner\=[dam-writer-service,content-reader-service,workflow-process-service]", \
  "com.adobe.cq.dam.cq-dam-processor-dm:dm-upload-service\=[dam-writer-service,scene7-config-service,dynamicmedia-config-service]", \
  "com.day.cq.dam.cq-dam-core:adaptassetfoldersmetadata\=[idsjobprocessor]", \
  "com.adobe.granite.acp.platform:index-admin\=[index-admin]", \
  "com.adobe.dam.cq-dam-cfm-impl:replicationService\=[replication-service]", \
  "com.adobe.dam.cq-dam-cfm-impl:referenceProcessingService\=[reference-processing-service,content-reader-service,dam-writer-service]", \
  "com.adobe.dam.cq-dam-cfm-impl:configuration-reader-service\=[configuration-reader-service]", \
  "com.adobe.dam.cq-dam-cfm-impl:omnisearch-service\=[omnisearch-service]", \
  "com.day.cq.dam.cq-dam-core:teamcleanup\=[dam-teammgr-service,group-reader-service,user-reader-service,content-reader-service,content-acreader-service]", \
  "com.day.cq.dam.cq-dam-download:async-download-storage\=[download-storage-service,configuration-reader-service,dam-reader-service]", \
  "com.day.cq.dam.cq-dam-download:async-download-notifications\=[taskmanagement-service]", \
  "com.day.cq.dam.cq-dam-download:async-download-service\=[dam-reader-service]", \
  "com.day.cq.dam.cq-dam-archive:async-archive-service\=[dam-reader-service]", \
  "com.day.cq.dam.cq-dam-archive:async-archive-storage\=[archive-storage-service]", \
  "com.day.cq.dam.cq-dam-commons:migrationsvc\=[dam-replication-service,workflow-process-service]", \
  "com.day.cq.dam.cq-dam-commons:dam-config-reader-service\=[dam-reader-service,configuration-reader-service]", \
  "com.day.cq.dam.cq-dam-core:dameventdispatcher\=[dam-reader-service]", \
  "com.day.cq.dam.cq-dam-core:cloudsourcing\=[dam-writer-service]", \
  "com.adobe.cq.dam.asset-delivery:asset-delivery-service\=[user-reader-service,workflow-process-service]", \
  "com.adobe.cq.dam.asset-delivery:uploader-service\=[dam-update-service]", \
  "cq-dam-eventing:eventrecorderhelper\=[dam-activitywriter-service,dam-reader-service,user-reader-service,configuration-reader-service]", \
  "cq-dam-index-reader-bundle-injection-adapter:oak-index-reader-service\=[oak-index-reader-service]", \
  ]
