:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~ims-license-group-service"
user.mapping=[ \
  "com.adobe.granite.auth.ims:Adobe\ IMS\ License\ Service\=[ims-license-group-service]", \
  "com.adobe.cq.adobeims.core:Adobe\ IMS\ License\ Service\=[ims-license-group-service]", \
  ]
