:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~webservice-support"
user.mapping=[ \
  "com.day.cq.wcm.cq-wcm-webservice-support:replication\=[webservice-support-replication]", \
  "com.day.cq.wcm.cq-wcm-webservice-support:servicelibfinder\=[webservice-support-servicelibfinder,sling-scripting]", \
  ]
