:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~wcm-style"
user.mapping=[ \
  "com.adobe.cq.com.adobe.cq.wcm.style:component-style-info-cache-service\=[configuration-reader-service,sling-scripting]", \
  ]
