:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~cdn-integration"
user.mapping=[ \
  "com.adobe.cq.cdn.cdn-rewriter\=[cdn-service,sling-scripting,content-reader-service]", \
  ]
