:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~contexthub-cache-service"
user.mapping=[ \
  "com.adobe.granite.contexthub.commons:contexthub-cache\=[contexthub-cache-service]", \
  ]
