:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~spellchecker"
user.mapping=[ \
  "com.day.cq.cq-spellchecker\=[spellchecker-service]", \
  ]
