:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~cq-ref-update-processor-api"
user.mapping=[ \
  "com.adobe.cq.cq-ref-update-processor-api:replicationService\=[replication-service]", \
  "com.adobe.cq.cq-ref-update-processor-api:referenceProcessingService\=[reference-processing-service,content-reader-service,dam-writer-service]", \
  ]
