:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~dmdelivery"
user.mapping=[ \
  "com.adobe.cq.dam.dm-weboptimized-delivery-impl:uploader-service\=[dam-update-service]", \
  ]
