:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~scene7imaging"
user.mapping=[ \
  "com.adobe.cq.dam.cq-scene7-imaging:dmreplicateonmodify\=[dynamic-media-replication,scene7-config-service]", \
  "com.adobe.cq.dam.cq-scene7-imaging:dmcontentfilter\=[dynamic-media-replication-filter]", \
  "com.adobe.cq.dam.cq-scene7-imaging:scene7configservice\=[scene7-config-service]", \
  "com.adobe.cq.dam.cq-scene7-imaging:scene7syncservice\=[dynamic-media-s7sync,scene7-config-service]", \
  ]
