:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~taskmanagement"
user.mapping=[ \
  "com.adobe.granite.taskmanagement.core:taskmanagement\=[taskmanagement-service]", \
  "com.adobe.granite.taskmanagement.core:user\=[user-reader-service,group-reader-service]", \
  "com.adobe.granite.taskmanagement.workflow:taskmanagement\=[taskmanagement-service]", \
  "com.adobe.granite.taskmanagement.workflow:workflow\=[workflow-service]", \
  ]
