:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended"
service.pid="org.apache.sling.serviceusermapping.impl.ServiceUserMapperImpl.amended~tagging"
user.mapping=[ \
  "com.day.cq.cq-tagging:tag-garbage-collection\=[tag-garbage-collection-service,content-reader-service]", \
  "com.day.cq.cq-tagging:tag-validation\=[tag-validation-service,content-reader-service,dam-subjects-tag-validation-service]", \
  ]
