:org.apache.felix.configadmin.revision:=L"1"
cq.workflow.superuser=[ \
  "admin", \
  "administrators", \
  "workflow-process-service", \
  "workflow-service", \
  "workflow-administrators", \
  "wcm-workflow-service", \
  "$[env:aemCloudAdministrators;default\=administrators]", \
  "$[env:internalServicesTechnicalAccountEmail;default\=administrators]", \
  ]
service.pid="com.adobe.granite.workflow.core.WorkflowSessionFactory"
