:org.apache.felix.configadmin.revision:=L"1"
resource.types=[ \
  "core/wcm/components/text/v1/text", \
  "core/wcm/components/text/v2/text", \
  ]
service.factoryPid="com.adobe.cq.ui.wcm.commons.internal.servlets.rte.RTEFilterServletFactory.amended"
service.pid="com.adobe.cq.ui.wcm.commons.internal.servlets.rte.RTEFilterServletFactory.amended~core-components"
