:org.apache.felix.configadmin.revision:=L"1"
resource.types=[ \
  "wcm/foundation/components/text", \
  "wcm/foundation/components/textimage", \
  ]
service.factoryPid="com.adobe.cq.ui.wcm.commons.internal.servlets.rte.RTEFilterServletFactory.amended"
service.pid="com.adobe.cq.ui.wcm.commons.internal.servlets.rte.RTEFilterServletFactory.amended~foundation"
