:org.apache.felix.configadmin.revision:=L"1"
imsEndpoint="$[env:imsEndpoint;default\=]"
imsOrganization="$[env:imsOrganization;default\=]"
repositoryId="$[env:AEM_DOMAIN_AUTHOR;default\=]"
service.pid="com.day.cq.dam.core.impl.reports.dataservice.DownloadReportGeneratorService"
serviceUrl="$[env:aemDataServiceEndpoint;default\=]"
