:org.apache.felix.configadmin.revision:=L"1"
felix.inventory.printer.name="jmxresource"
felix.inventory.printer.title="JMX\ Tree"
path="/system/sling/monitoring/mbeans"
service.factoryPid="org.apache.sling.resource.inventory.impl.ResourceInventoryPrinterFactory"
service.pid="org.apache.sling.resource.inventory.impl.ResourceInventoryPrinterFactory~jmx"
