:org.apache.felix.configadmin.revision:=L"1"
aemDomainAuthor="$[env:AEM_DOMAIN_AUTHOR;default\=]"
aemDomainPreview="$[env:AEM_DOMAIN_PREVIEW;default\=]"
aemDomainPublish="$[env:AEM_DOMAIN_PUBLISH;default\=]"
aemIsPreviewTier="$[env:AEM_IS_PREVIEW_TIER;type\=Boolean;default\=false]"
aemTier="$[env:AEM_TIER;default\=]"
service.pid="com.adobe.cq.unifiedshell.impl.config.RepositoryIdentifier"
