:org.apache.felix.configadmin.revision:=L"1"
groups=[ \
  "administrators", \
  "$[env:aemCloudAdministrators;default\=administrators]", \
  "CM_DEVELOPER_ROLE_PROFILE", \
  "Cloud\ Manager\ -\ Developer\ Role", \
  "CM_CS_DEVELOPER_ROLE_PROFILE", \
  "Developer\ -\ Cloud\ Service", \
  ]
service.pid="org.apache.sling.extensions.webconsolesecurityprovider.internal.SlingWebConsoleSecurityProvider"
