:org.apache.felix.configadmin.revision:=L"1"
proxy.enabled="$[prop:https.osgiProxyEnabled;type\=Boolean;default\=false]"
proxy.exceptions="$[prop:http.osgiNonProxyHosts;type\=String[];delimiter\=,;default\=]"
proxy.host="$[prop:https.proxyHost;default\=]"
proxy.port="$[prop:https.proxyPort;type\=Integer;default\=80]"
service.factoryPid="org.apache.http.proxyconfigurator"
service.pid="org.apache.http.proxyconfigurator~aemcloudservice"
