:org.apache.felix.configadmin.revision:=L"1"
delete.path.regexps=[ \
  "/etc/packages/[dD]ay/.*", \
  "/etc/packages/[aA]dobe/.*", \
  "/etc/packages/com/[dD]ay/.*", \
  "/etc/packages/com/[aA]dobe/.*", \
  "/etc/packages/com.([dD]ay|[aA]dobe).cq/.*", \
  "/etc/packages/aemfd/.*", \
  ]
delete.sql2.query="SELECT\ child.*\ from\ [nt:file]\ AS\ child\ INNER\ JOIN\ [nt:folder]\ AS\ parent\ ON\ ISCHILDNODE(child,parent)\ WHERE\ ISDESCENDANTNODE(parent,'/etc/packages')\ AND\ name(parent)\='.snapshot'\ AND\ ISDESCENDANTNODE(child,'/etc/packages')\ AND\ NAME(child)\ NOT\ LIKE\ '%geometrixx%'"
service.factoryPid="com.adobe.cq.upgrades.cleanup.impl.UpgradeContentCleanup"
service.pid="com.adobe.cq.upgrades.cleanup.impl.UpgradeContentCleanup~contentpackages"
