:org.apache.felix.configadmin.revision:=L"1"
delete.path.regexps=[ \
  "/libs/cc", \
  ]
delete.sql2.query="SELECT\ *\ from\ [nt:folder]\ WHERE\ ischildnode('/libs')"
service.factoryPid="com.adobe.cq.upgrades.cleanup.impl.UpgradeContentCleanup"
service.pid="com.adobe.cq.upgrades.cleanup.impl.UpgradeContentCleanup~creativecloud"
