:org.apache.felix.configadmin.revision:=L"1"
allowedPoolNames=[ \
  "oak", \
  "discovery", \
  "cq-polling-importer", \
  "cq-asset-processing", \
  "org-apache-sling-sitemap", \
  "org-apache-sling-event", \
  "cq-fill-cache", \
  ]
service.pid="org.apache.sling.commons.scheduler.impl.QuartzScheduler"
