:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet"
service.pid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet~sitesgraphql"
sling.servlet.extensions=[ \
  "GQLschema", \
  "schemaerrors", \
  ]
sling.servlet.methods=[ \
  "GET", \
  ]
sling.servlet.resourceTypes=[ \
  "graphql/sites/components/endpoint", \
  ]
