:org.apache.felix.configadmin.revision:=L"1"
jaas.classname="org.apache.jackrabbit.oak.spi.security.authentication.GuestLoginModule"
jaas.controlFlag="optional"
jaas.options=[ \
  "", \
  ]
jaas.ranking=I"300"
jaas.realmName=""
service.factoryPid="org.apache.felix.jaas.Configuration.factory"
service.pid="org.apache.felix.jaas.Configuration.factory~GuestLoginModule"
